<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unal.tuapp.recapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".data.MySuggestionProvider"
            android:authorities="com.unal.tuapp.recapp.data.MySuggestionProvider" />
        <provider
            android:name=".data.RecappProvider"
            android:authorities="com.unal.tuapp.recapp.app"
            android:exported="false" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1674043846146726"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCfb_U5Z6p2PBaDDhKjwf0CxqXNOcE1Acs" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.Recapp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NavigationDrawer"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK" />

                <data android:scheme="vnd.google.deeplink" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Company"
            android:launchMode="singleTop"
            android:label="@string/company">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.Detail"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".activities.NavigationDrawer"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NavigationDrawer" />
        </activity>
        <activity
            android:name=".activities.UserDetail"
            android:label="@string/title_activity_user_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.NavigationDrawer" >

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.NavigationDrawer" />
        </activity>
        <activity
            android:name=".activities.ReminderActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
        </activity>

        <receiver
            android:name=".servicesAndAsyncTasks.MyAlarmReceiver"
            android:process=":remote" >
        </receiver>

        <receiver android:name=".servicesAndAsyncTasks.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.unal.tuapp.recapp" />
            </intent-filter>
        </receiver>
        <service android:name=".servicesAndAsyncTasks.GcmIntentService" />


        <activity
            android:name=".activities.EventActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan" >
        </activity>
        <activity android:name=".activities.EventActivityGoing" />
        <activity android:name=".activities.EventUpdateActivity" />
        <activity
            android:name=".activities.Gallery"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".activities.Detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Detail" />
        </activity>

        <activity android:name="com.google.android.gms.adds.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <service android:name=".servicesAndAsyncTasks.GeofenceTransitionsIntentService"
            android:exported="false"/>
    </application>

</manifest>
